@charset "utf-8";
/* CSS Document */

.hero-banner {
  background-image: url('../assets/stnins.jpg'); /* adjust path as needed */
  background-size: cover;
  background-position: center 35%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  font-size: 2rem;
  font-weight: bold;
  margin-left: 220px; /* aligns with sidebar */
}

.red-asterisk {
  color: red;
  font-weight: bold; /* optional */
}
